:root {
    --scale: 1;

    --spacing-xxxxs: calc(0.25rem * var(--scale));
    --spacing-xxxs: calc(0.375rem * var(--scale));
    --spacing-xxs: calc(0.5rem * var(--scale));
    --spacing-xs: calc(0.625rem * var(--scale));
    --spacing-sm: calc(0.75rem * var(--scale));
    --spacing-md: calc(1rem * var(--scale));
    --spacing-lg: calc(1.25rem * var(--scale));
    --spacing-xl: calc(2rem * var(--scale));
    --spacing-xxl: calc(3rem * var(--scale));
    --spacing-xxxl: calc(4rem * var(--scale));

    --radius-default: var(--radius-sm);
    --radius-xs: calc(0.125rem * var(--scale));
    --radius-sm: calc(0.25rem * var(--scale));
    --radius-md: calc(0.5rem * var(--scale));
    --radius-lg: calc(1rem * var(--scale));
    --radius-xl: calc(2rem * var(--scale));
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --font-size-xxs: clamp(0.64rem, 0.6549rem + -0.0192vw, 0.651rem);
    --font-size-xs: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --font-size-sm: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --font-size-md: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --font-size-lg: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --font-size-xl: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --font-size-xxl: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --font-size-xxxl: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --font-size-xxxxl: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

    --font-weight-sm: 300;
    --font-weight-md: 400;
    --font-weight-lg: 500;
    --font-weight-xl: 700;

    --line-height-default: 1.55;
    --line-height-xs: 1.4;
    --line-height-sm: 1.45;
    --line-height-md: 1.55;
    --line-height-lg: 1.6;
    --line-height-xl: 1.65;

    --h1-font-size: var(--font-size-xxxxl);
    --h1-line-height: 1.3;
    --h1-font-weight: 700;
    --h2-font-size: var(--font-size-xxxl);
    --h2-line-height: 1.35;
    --h2-font-weight: 700;
    --h3-font-size: var(--font-size-xxl);
    --h3-line-height: 1.4;
    --h3-font-weight: 700;
    --h4-font-size: var(--font-size-xl);
    --h4-line-height: 1.45;
    --h4-font-weight: 700;
    --h5-font-size: var(--font-size-lg);
    --h5-line-height: 1.5;
    --h5-font-weight: 700;
    --h6-font-size: var(--font-size-md);
    --h6-line-height: 1.5;
    --h6-font-weight: 700;
}

:root {
    --clr-brand-accent: #4c8bf7;
    --clr-brand-accent-border: #4c8bf7;
    --clr-brand-accent-hover: #265884;
    --clr-brand-disabled: #fcfcfc;
    --clr-brand-text-disabled: #818181;
    --clr-brand-hover: #ededed;
    --clr-brand-border: #c1c1c1;

    --clr-brand-background-0: #ffffff;
    --clr-brand-background-1: #f5f5f5;

    --clr-brand-text-light: #ffffff;
    --clr-brand-text-light-subtle: hsla(0, 0%, 100%, 0.6);
    --clr-brand-heading-light: #ffffff;

    --clr-brand-text-dark: #585858;
    --clr-brand-text-dark-subtle: hsla(0, 0%, 35%, 0.6);
    --clr-brand-heading-dark: #2e2e2e;

    /* Heading, text, input background */
    --color-brand-0: #ffffff;
    /* Subtle text */
    --color-brand-0: hsla(0, 0%, 100%, 0.6);
    /* Article background 1 */
    --color-brand-0: #f0f4f6;
    /* Article background 2 */
    --color-brand-0: #10242d;
    /* Website background */
    --color-brand-0: #339dc8;
    /* Accent-link */
    --color-brand-0: #0386b4;
    /* Primary button */
    --color-brand-0: #006f9f;
}

:root {
    color-scheme: light;

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    --font-family: Roboto, Helvetica, Arial, sans-serif;

    --outline-width: 2px;
    --outline-style: var(--outline-width) solid var(--clr-brand-accent);
    --section-gap: 260px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: var(--font-weight-md);
}

body {
    min-height: 100vh;
    color: var(--clr-brand-text-dark);
    background: var(--clr-brand-accent);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.light {
    color: var(--clr-brand-text-light);
}
.dark {
    color: var(--clr-brand-text-dark);
}

h1.light,
.h1.light,
h2.light,
.h2.light,
h3.light,
.h3.light,
h4.light,
.h4.light,
h5.light,
.h5.light,
h6.light,
.h6.light {
    color: var(--clr-brand-heading-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: var(--clr-brand-heading-dark);
}

h1,
.h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    font-weight: var(--h1-font-weight);
}
h2,
.h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: var(--h2-font-weight);
}
h3,
.h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-weight: var(--h3-font-weight);
}
h4,
.h4 {
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
    font-weight: var(--h4-font-weight);
}
h5,
.h5 {
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
    font-weight: var(--h5-font-weight);
}
h6,
.h6 {
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
    font-weight: var(--h6-font-weight);
}
